#combos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-auto-rows: 20em;
    gap: 1em;
}

#combo-search {
    margin-bottom: 1em;
    font-size: 1.6em;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.4em;
}

.combo {
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 8px;
    color: white;
}

.combo h3 {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0;
    text-shadow: 0 0 3px black;
}

.combo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.combo-tags {
    display: none;
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    text-shadow: 0 0 3px black;
}
