#site-content {
    display: flex;
    flex-direction: column;
}

#link-input {
    font-size: 1.5em;
    width: 100%;
}

video {
    max-width: 100%;
    max-height: 40em;
    display: block;
    margin: 1em 0px;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.video-speed-label {
    background-color: var(--button-bg);
    border: solid 1px gray;
    border-radius: 4px;
    padding: 0 2px;
}

input[type=radio]:checked + label {
    border: solid 1px lightgray;
    background-color: var(--button-bg-active);
}

.video-speed-label:hover {
    background-color: var(--button-bg-hover);
}

